body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 100%;
}

h1, .h1{
  font-family: 'Playfair Display', serif;
}

.container{
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* Elements */
@import "elements/header";

@import "elements/button";


.hero{
  margin-top: -40px;
  padding-top: 100px;
  padding-bottom: 330px;
  background: #4abde2;
  @extend .u-text-center;
  &__title{
    color: #fff;
    font-size: 1.7em;
    font-weight: 400;
  }

  &__text{
    color: #fff;
  }

  .button--line{
    color: #fff;
    border-color: #fff;
  }
}


@import "utils/utils";
