.button{
  color:#fff;
  display: inline-block;
  padding: 1.25em 2.1875em;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  border:1px solid transparent;
  background: #4acde2;
  border-radius: 2.1875em;

  &:hover{
    background: #34acbf;
  }

  &--line{
    color: #4abde2;
    border-color: #4abde2;
    background: none;
  }

}
