.header{
  position: relative;
  &__logo{
    float: left;
    a{
      display: block;
      width: 177px;
      height: 40px;
      background: #ccc;
    }
  }

  &__open{
    &_nav{
      display: block;
      float:right;
      width: 32px;
      height: 23px;
      text-indent: -9999px;
    }
  }

  &__nav{
    display: none;
    ul{
      margin: 0;
      padding: 0;
      list-style: 0;
    }
  }

  

}
