body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 100%;
}

h1, .h1 {
  font-family: 'Playfair Display', serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

/* Elements */
.header {
  position: relative;
}

.header__logo {
  float: left;
}

.header__logo a {
  display: block;
  width: 177px;
  height: 40px;
  background: #ccc;
}

.header__open_nav {
  display: block;
  float: right;
  width: 32px;
  height: 23px;
  text-indent: -9999px;
}

.header__nav {
  display: none;
}

.header__nav ul {
  margin: 0;
  padding: 0;
  list-style: 0;
}

.button {
  color: #fff;
  display: inline-block;
  padding: 1.25em 2.1875em;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid transparent;
  background: #4acde2;
  border-radius: 2.1875em;
}

.button:hover {
  background: #34acbf;
}

.button--line {
  color: #4abde2;
  border-color: #4abde2;
  background: none;
}

.hero {
  margin-top: -40px;
  padding-top: 100px;
  padding-bottom: 330px;
  background: #4abde2;
}

.hero__title {
  color: #fff;
  font-size: 1.7em;
  font-weight: 400;
}

.hero__text {
  color: #fff;
}

.hero .button--line {
  color: #fff;
  border-color: #fff;
}

.u-text-center, .hero {
  text-align: center;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.u-cf:before,
.u-cf:after {
  content: " ";
  display: table;
}

.u-cf:after {
  clear: both;
}
