extends layout

block content
  section.hero
    .container
      h1.hero__title Create beautiful forms
      p.hero__text Increase response rate &amp; quality with design the delights
      a.button.button--line(href="#") Sign up
