doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Front-end Gulp
    meta(name='description', content='Front-end tool with gulp')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="dns-prefetch", href="//fonts.googleapis.com")
    link(href='//fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:400,500,700', rel='stylesheet')
    link(rel='stylesheet', href='assets/css/normalize.css')
    link(rel='stylesheet', href='assets/css/main.css')
  body
    //- Header
    include part/header
    block content
